<div class="an-body-topbar wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="an-page-title">
        <h2>
            <%= t('helpers.page_title.edit', model: Step.model_name.human) %>
        </h2>
    </div>
</div>

<div>
    <div class="panel">

        <div class="panel-heading">
            <div class="m-portlet__head-caption"><h3 class="m-portlet__head-text">
                <%= Step.model_name.human %>
            </h3></div>
            <div class="m-portlet__head-tools">
            </div>
        </div>

        <div class="panel-body">
            <%= render 'admin/steps/form' %>
        </div>
    </div>
</div>
