<div class="news-wrapper">
    <div class="news">
        <div class="news-title">
            創客情報
            <span><%= link_to "more", articles_path %></span>
        </div>

        <div class="news-content container">
            <div class="col-md-6 news-content-list">
                <ul>
                    <li>2018/ 09/ 30 107學年度大學校院創新創業扎根計畫「創新創業教學趨... </li>
                    <li>2018/ 09/ 24「大專校院創業實戰學習平臺計畫說明會」報名開始 2018 </li>
                    <li>2018/ 09/ 17 Flo-Star商業模式創新探索工作坊 </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 news-content-list">
                <ul>
                    <li>2018/ 09/04 明志科技大學「創新創業主題週」開跑囉！</li>
                    <li>2018/ 09/01 校園創新創業扎根小聚 </li>
                    <li>2018/ 08/28 Flo-Star商業模式創新探索工作坊 </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
