<div class="slick-carousel-wrapper">
    <div class="slick-carousel">
        <div class="slick-main">
            <div>
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/kitchen.jpg" alt="">
            </div>
            <div>
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg" alt="">
            </div>
            <div>
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/gifts.jpg" alt="">
            </div>
            <div>
                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/antique.jpg" alt="">
            </div>
        </div>
    </div>
</div>
