<div class="an-body-topbar wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="an-page-title">
        <h2>
            <%= t('helpers.page_title.index', model: RelatedResource.model_name.human) %>
        </h2>
    </div>
</div>

<div>
    <%= render 'admin/related_resources/index_datatables' %>
</div>


<% content_for :post_scripts do %>
    <%= javascript_include_tag 'admin/related_resources' %>
    <%= javascript_include_tag 'admin/related_resources_datatables' %>
<% end %>
