<div class="project-info-wrapper">
    <div class="project-info">
        <div class="top">
            <div class="proposer">
                <div>提案人</div>
                <div>李小云</div>
            </div>

            <div class="collection">
                <span>收藏</span>
            </div>
        </div>

        <div class="center">
            <div class="description">
                <div>提案核心目標</div>
                <article>
                    希望讓消費者從餐桌上體驗有機、品嚐有機，不同於一般有機超商或網路商店銷售生鮮食材的方式，我們是直接將來自台東小農的蔬果提供給目標餐廳。藉由與餐廳合作，透過提供有機、友善耕作食材的方式，讓消費者可以在舌尖上享受來自台灣本土最健康的食物，食‧哲學將依據農場擁有之認證、產品情況及信譽，親自挑選合乎規格的食材供應。另外以Line為傳播媒介推廣，讓大眾來認養植栽、投資農場，建立消費者與生產端溝通的橋樑。
                    <br>
                    享受生活，追求高品質的味蕾體驗，生活忙碌也不將就。讓蚯蚓在純淨的田地裡穿梭，友善農耕，孕育蔬果最純粹的自然鮮甜。
                </article>
            </div>

        </div>

        <div class="bottom">
            <div class="viewcount">
                <div>人氣</div>
                <div>129 人次瀏覽</div>
            </div>

            <div class="sharing">
                <div>分享</div>
                <div class="sharing_link">
                    <div class="img_wrapper"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss1.jpg" alt=""></div>
                    <div class="img_wrapper"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss2.jpg" alt=""></div>
                    <div class="img_wrapper"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss3.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
