<div class="project-wrapper">
    <div class="project container">
        <div class="project-title">
            <h2>探索</h2>
        </div>

        <div class="project-content">
            <div class="project-category-wrapper container">
                <div class="project-category">
                    <% for i in 1..9 do %>
                        <div class="project-category-block col-md-4">
                            <div class="image">
                                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss6.jpg" alt="">
                            </div>
                            <div class="description">
                                我們抽取台南在地節慶與習俗文化常見的吃食，結合工藝產品技術製做出有趣味、有故事的飯店用品組，希望讓旅客來到飯店休息時，能夠透。
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="project-popular-wrapper container">
                <div class="project-popular">
                    <div class="project-popular-title">
                        <span>熱門提案</span>
                        <span>
                            <%= link_to "more", "#" %>
                        </span>
                    </div>

                    <div class="project-popular-content">
                        <% for j in 1..3 do %>
                            <div class="project-popular-content-block col-md-4">
                                <div class="image">
                                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss5.jpg" alt="">
                                </div>

                                <div class="title">
                                    Project Z 人工智慧音樂創錯輔助系統
                                </div>

                                <div class="category-name">
                                    <span>提案類別</span>
                                    <span>
                                        <%= link_to "生活", "#" %>
                                    </span>
                                </div>

                                <div class="description">
                                    我們抽取台南在地節慶與習俗文化常見的吃食，結合工藝產品技術製做出有趣味、有故事的飯店用品組，希望讓旅客來到飯店休息時，能夠透過有趣的方式更了解當地的文化故事。產品包含：椪餅－養生組、包子－茶杯、湯圓－護手餅、煎餅－針線包、紅龜..
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="project-latest-wrapper container">
                <div class="project-latest">
                    <div class="project-latest-title">
                        <span>熱門提案</span>
                        <span>
                            <%= link_to "more", "#" %>
                        </span>
                    </div>

                    <div class="project-latest-content">
                        <% for j in 1..3 do %>
                            <div class="project-latest-content-block col-md-4">
                                <div class="image">
                                    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss5.jpg" alt="">
                                </div>

                                <div class="title">
                                    Project Z 人工智慧音樂創錯輔助系統
                                </div>

                                <div class="category-name">
                                    <span>提案類別</span>
                                    <span>
                                        <%= link_to "生活", "#" %>
                                    </span>
                                </div>

                                <div class="description">
                                    我們抽取台南在地節慶與習俗文化常見的吃食，結合工藝產品技術製做出有趣味、有故事的飯店用品組，希望讓旅客來到飯店休息時，能夠透過有趣的方式更了解當地的文化故事。產品包含：椪餅－養生組、包子－茶杯、湯圓－護手餅、煎餅－針線包、紅龜..
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
