<div class="project-show-wrapper container">
    <div class="project-show">
        <div class="title">
            <h2>果子．樹 ｜ 回鄉吧種植計劃</h2>
        </div>

        <div class="category-name">
            <span>提案類別</span>
            <span>
                <%= link_to "生活", "#" %>
            </span>
        </div>


        <div class="slick-and-info">
            <%= render 'project_slick_partial' %>
            <%= render 'project_info' %>
        </div>
    </div>
</div>


