.an-single-component{
	.l-h-34{
		line-height: 34px;
	}
	.panel-title{
		a{
			display: block;
		}
	}
	.panel-heading{
		border: 1px solid #ddd;
	}
	.panel-body{
		border: 1px solid #ddd;
		border-top: transparent;
	}
}