.costCell {
  text-align: center;
  border: 2px solid #f3f3f3 !important;
}

.cellHeader {
  color: rgb(0, 153, 204);
  background: rgb(215, 215, 215);
  font-weight: bold;
}

.unitCell {
  text-align: center;
  vertical-align: middle !important;
}

.finalPrice {
  text-align: center;
}
