<div class="table-responsive">
    <table id='<%= tab_key %>_resource_categories_table' data-tab_column_name='' data-tab_key='<%= tab_key %>' class='table table-bordered table_breaking resource_categories_table m-b-20'>
        <thead>
            <tr>
                <th class='all'><%= ResourceCategory.human_attribute_name('name') %></th>
                <th class='all'><%= t('helpers.datatables.actions') %></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
