.related-resources-wrapper {
    margin-bottom: 100px;
}

.related-resources-title {
    margin: 50px 0 40px;
}

.related-resources-content-content {
    margin-bottom: 45px;
}

.related-resources-content-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.related-resources-content {
    ul {
    }

    li {
        font-size: 16px;
    }
}
